# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Archives & export
Artifacts/
*.xcarchive
*.xcresult

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Package.resolved
